{
  "log": {
    "_recordingName": "fetch-administrators",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0c7332df6029edc32c0bc8cd3fdeea8a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-secret-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "api-version",
              "value": "v1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.deepsecurity.trendmicro.com/api/administrators"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1180,
            "text": "{\"administrators\":[{\"username\":\"charlie.duong@jupiterone.io\",\"fullName\":\"\",\"description\":\"\",\"roleID\":1,\"locale\":\"en-US\",\"timeZone\":\"US/Eastern\",\"timeFormat\":\"24\",\"passwordNeverExpires\":true,\"active\":true,\"mfaType\":\"none\",\"phoneNumber\":\"\",\"mobileNumber\":\"\",\"pagerNumber\":\"\",\"emailAddress\":\"charlie.duong@jupiterone.io\",\"primaryContact\":true,\"receiveNotifications\":false,\"reportPDFPasswordEnabled\":false,\"created\":1586982455921,\"lastPasswordChange\":1586982455921,\"lastSignIn\":1587488991381,\"unsuccessfulSignInAttempts\":0,\"external\":false,\"type\":\"normal\",\"readOnly\":false,\"ID\":1,\"UTCOffset\":\"UTC-4.00, DST\"},{\"username\":\"charlie.duong.test\",\"fullName\":\"Charlie Test\",\"description\":\"Testing123\",\"roleID\":2,\"locale\":\"en-US\",\"timeZone\":\"US/Eastern\",\"timeFormat\":\"24\",\"passwordNeverExpires\":false,\"active\":true,\"mfaType\":\"none\",\"phoneNumber\":\"\",\"mobileNumber\":\"\",\"pagerNumber\":\"\",\"emailAddress\":\"\",\"primaryContact\":false,\"receiveNotifications\":false,\"reportPDFPasswordEnabled\":false,\"created\":1587489647292,\"lastPasswordChange\":1587489647292,\"lastSignIn\":1587489661720,\"unsuccessfulSignInAttempts\":0,\"external\":false,\"type\":\"normal\",\"readOnly\":false,\"ID\":8,\"UTCOffset\":\"UTC-4.00, DST\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
