{
  "log": {
    "_recordingName": "build-computer-group-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8404e7ff679bb4d598be0f289224946f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-secret-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "api-version",
              "value": "v1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.deepsecurity.trendmicro.com/api/computers"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 52539,
            "text": "{\"computers\":[{\"hostName\":\"ec2-54-187-35-33.us-west-2.compute.amazonaws.com\",\"displayName\":\"\",\"description\":\"This computer is a demonstration of Deep Security's capabilities. Open a browser to http://ec2-54-187-35-33.us-west-2.compute.amazonaws.com for more information.\",\"lastIPUsed\":\"192.168.43.1\",\"platform\":\"Amazon Linux (64 bit) (4.14.62-65.117.amzn1.x86_64)\",\"groupID\":0,\"policyID\":3,\"relayListID\":0,\"agentFingerPrint\":\"F9:51:AE:21:1F:7E:08:91:D2:5A:3D:4D:0D:17:F3:53:E9:EA:4E:28\",\"lastAgentCommunication\":1587565628816,\"lastSendPolicyRequest\":1587531405527,\"lastSendPolicySuccess\":1587531911896,\"agentVersion\":\"11.1.0.163\",\"computerStatus\":{\"agentStatus\":\"active\",\"agentStatusMessages\":[\"Managed (Online)\"]},\"securityUpdates\":{\"updateStatus\":{\"status\":\"warning\",\"statusMessage\":\"Out-of-Date\"},\"lastChanged\":1587542796938,\"antiMalware\":[{\"name\":\"Advanced Threat Correlation Pattern\",\"platform\":\"All Platforms\",\"version\":\"1.112.00\",\"latest\":true},{\"name\":\"IntelliTrap Exception Pattern\",\"platform\":\"All Platforms\",\"version\":\"1.707.00\",\"latest\":true},{\"name\":\"IntelliTrap Pattern\",\"platform\":\"All Platforms\",\"version\":\"0.251.00\",\"latest\":true},{\"name\":\"Smart Scan Agent Pattern\",\"platform\":\"All Platforms\",\"version\":\"15.817.00\",\"latest\":false},{\"name\":\"Trusted Certificate Authorities Pattern\",\"platform\":\"All Platforms\",\"version\":\"1.00007.00\",\"latest\":true}]},\"computerSettings\":{\"logInspectionSettingSeverityClippingAgentEventSendSyslogLevelMin\":{\"value\":\"Medium (6)\"},\"firewallSettingEngineOptionConnectionsCleanupMax\":{\"value\":\"1000\"},\"firewallSettingEngineOptionVerifyTcpChecksumEnabled\":{\"value\":\"false\"},\"antiMalwareSettingScanCacheOnDemandConfigId\":{\"value\":\"1\"},\"applicationControlSettingSharedRulesetId\":{\"value\":\"0\"},\"webReputationSettingSmartProtectionServerConnectionLostWarningEnabled\":{\"value\":\"true\"},\"applicationControlSettingExecutionEnforcementLevel\":{\"value\":\"Allow unrecognized software until it is explicitly blocked\"},\"webReputationSettingBlockedUrlDomains\":{\"value\":\"\"},\"firewallSettingEngineOptionSynSentTimeout\":{\"value\":\"20 Seconds\"},\"platformSettingAgentSelfProtectionPassword\":{\"value\":\"\"},\"firewallSettingReconnaissanceBlockTcpXmasAttackDuration\":{\"value\":\"No\"},\"intrusionPreventionSettingVirtualAndContainerNetworkScanEnabled\":{\"value\":\"true\"},\"logInspectionSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingEngineOptionDebugModeEnabled\":{\"value\":\"false\"},\"firewallSettingVirtualAndContainerNetworkScanEnabled\":{\"value\":\"false\"},\"antiMalwareSettingFileHashSha256Enabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceNotifyFingerprintProbeEnabled\":{\"value\":\"true\"},\"firewallSettingEventLogFileRetainNum\":{\"value\":\"3\"},\"firewallSettingAntiEvasionCheckTcpPawsZero\":{\"value\":\"Allow\"},\"antiMalwareSettingConnectedThreatDefenseUseControlManagerSuspiciousObjectListEnabled\":{\"value\":\"true\"},\"intrusionPreventionSettingEngineOptionFragmentedIpKeepMax\":{\"value\":\"1000\"},\"firewallSettingEngineOptionDrop6To4BogonsAddressesEnabled\":{\"value\":\"true\"},\"logInspectionSettingSeverityClippingAgentEventStoreLevelMin\":{\"value\":\"Medium (6)\"},\"platformSettingScanCacheConcurrencyMax\":{\"value\":\"1\"},\"antiMalwareSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingAntiEvasionTcpPawsWindowPolicy\":{\"value\":\"0\"},\"firewallSettingReconnaissanceDetectTcpXmasAttackEnabled\":{\"value\":\"true\"},\"applicationControlSettingRulesetMode\":{\"value\":\"Use local ruleset\"},\"antiMalwareSettingSmartProtectionGlobalServerUseProxyEnabled\":{\"value\":\"false\"},\"webReputationSettingSmartProtectionLocalServerAllowOffDomainGlobal\":{\"value\":\"false\"},\"integrityMonitoringSettingCombinedModeProtectionSource\":{\"value\":\"Appliance preferred\"},\"firewallSettingEngineOptionCloseWaitTimeout\":{\"value\":\"2 Minutes\"},\"platformSettingScanOpenPortListId\":{\"value\":\"1-1024\"},\"platformSettingAgentSelfProtectionPasswordEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionAckTimeout\":{\"value\":\"1 Second\"},\"firewallSettingEventLogFileCachedEntriesStaleTime\":{\"value\":\"15 Minutes\"},\"firewallSettingCombinedModeProtectionSource\":{\"value\":\"Agent preferred\"},\"platformSettingAgentEventsSendInterval\":{\"value\":\"60 Seconds\"},\"platformSettingInactiveAgentCleanupOverrideEnabled\":{\"value\":\"false\"},\"firewallSettingFailureResponseEngineSystem\":{\"value\":\"Fail closed\"},\"platformSettingRelayState\":{\"value\":\"false\"},\"firewallSettingEngineOptionDropEvasiveRetransmitEnabled\":{\"value\":\"false\"},\"activityMonitoringSettingIndicatorEnabled\":{\"value\":\"Off\"},\"intrusionPreventionSettingEngineOptionFragmentedIpTimeout\":{\"value\":\"60 Seconds\"},\"firewallSettingAntiEvasionCheckTcpZeroFlags\":{\"value\":\"Deny\"},\"webReputationSettingSmartProtectionGlobalServerUseProxyEnabled\":{\"value\":\"false\"},\"intrusionPreventionSettingNsxSecurityTaggingPreventModeLevel\":{\"value\":\"No Tagging\"},\"firewallSettingReconnaissanceNotifyTcpXmasAttackEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionUdpTimeout\":{\"value\":\"20 Seconds\"},\"webReputationSettingSmartProtectionLocalServerEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionTcpMssLimit\":{\"value\":\"128 Bytes\"},\"firewallSettingEngineOptionColdStartTimeout\":{\"value\":\"5 Minutes\"},\"firewallSettingEngineOptionEstablishedTimeout\":{\"value\":\"3 Hours\"},\"antiMalwareSettingIdentifiedFilesSpaceMaxMbytes\":{\"value\":\"1024\"},\"firewallSettingEngineOptionAllowNullIpEnabled\":{\"value\":\"true\"},\"platformSettingNotificationsSuppressPopupsEnabled\":{\"value\":\"false\"},\"firewallSettingAntiEvasionCheckTcpRstFinFlags\":{\"value\":\"Deny\"},\"firewallSettingEngineOptionDisconnectTimeout\":{\"value\":\"60 Seconds\"},\"firewallSettingEngineOptionCloseTimeout\":{\"value\":\"0 Seconds\"},\"firewallSettingEngineOptionTunnelDepthMaxExceededAction\":{\"value\":\"Drop\"},\"firewallSettingReconnaissanceDetectTcpNullScanEnabled\":{\"value\":\"true\"},\"platformSettingSmartProtectionAntiMalwareGlobalServerProxyId\":{\"value\":\"\"},\"firewallSettingEngineOptionFilterIpv4Tunnels\":{\"value\":\"Disable Detection of IPv4 Tunnels\"},\"webReputationSettingSmartProtectionLocalServerUrls\":{\"value\":\"\"},\"firewallSettingEngineOptionLogOnePacketPeriod\":{\"value\":\"5 Minutes\"},\"firewallSettingEngineOptionFilterIpv6Tunnels\":{\"value\":\"Disable Detection of IPv6 Tunnels\"},\"firewallSettingAntiEvasionCheckTcpCongestionFlags\":{\"value\":\"Allow\"},\"platformSettingHeartbeatMissedAlertThreshold\":{\"value\":\"5\"},\"intrusionPreventionSettingEngineOptionsEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionConnectionsNumUdpMax\":{\"value\":\"1000000\"},\"integrityMonitoringSettingAutoApplyRecommendationsEnabled\":{\"value\":\"No\"},\"firewallSettingEngineOptionTunnelDepthMax\":{\"value\":\"1\"},\"firewallSettingEngineOptionDropUnknownSslProtocolEnabled\":{\"value\":\"true\"},\"antiMalwareSettingNsxSecurityTaggingValue\":{\"value\":\"ANTI_VIRUS.VirusFound.threat=medium\"},\"intrusionPreventionSettingLogDataRuleFirstMatchEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionLoggingPolicy\":{\"value\":\"Default\"},\"platformSettingTroubleshootingLoggingLevel\":{\"value\":\"Do Not Override\"},\"antiMalwareSettingVirtualApplianceOnDemandScanCacheEntriesMax\":{\"value\":\"500000\"},\"webReputationSettingCombinedModeProtectionSource\":{\"value\":\"Agent preferred\"},\"firewallSettingEngineOptionClosingTimeout\":{\"value\":\"1 Second\"},\"firewallSettingAntiEvasionCheckPaws\":{\"value\":\"Ignore\"},\"intrusionPreventionSettingAutoApplyRecommendationsEnabled\":{\"value\":\"No\"},\"firewallSettingReconnaissanceDetectFingerprintProbeEnabled\":{\"value\":\"true\"},\"antiMalwareSettingNsxSecurityTaggingRemoveOnCleanScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionLogPacketLengthMax\":{\"value\":\"1500 Bytes\"},\"firewallSettingEngineOptionDropTeredoAnomaliesEnabled\":{\"value\":\"true\"},\"webReputationSettingSecurityLevel\":{\"value\":\"Medium\"},\"firewallSettingEngineOptionDropIpv6SiteLocalAddressesEnabled\":{\"value\":\"false\"},\"activityMonitoringSettingActivityEnabled\":{\"value\":\"Off\"},\"firewallSettingEngineOptionStrictTerodoPortCheckEnabled\":{\"value\":\"true\"},\"webReputationSettingBlockedUrlKeywords\":{\"value\":\"\"},\"webReputationSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingFailureResponsePacketSanityCheck\":{\"value\":\"Fail closed\"},\"firewallSettingNetworkEngineMode\":{\"value\":\"Inline\"},\"firewallSettingEventLogFileSizeMax\":{\"value\":\"4 MB\"},\"antiMalwareSettingMalwareScanMultithreadedProcessingEnabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceDetectTcpSynFinScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionDropIpZeroPayloadEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionBlockIpv6Agent8AndEarlierEnabled\":{\"value\":\"true\"},\"intrusionPreventionSettingEngineOptionFragmentedIpPacketSendIcmpEnabled\":{\"value\":\"true\"},\"antiMalwareSettingPredictiveMachineLearningExceptions\":{\"value\":\"\"},\"firewallSettingEngineOptionLogEventsPerSecondMax\":{\"value\":\"100\"},\"firewallSettingEngineOptionSslSessionTime\":{\"value\":\"24 Hours\"},\"antiMalwareSettingBehaviorMonitoringScanExclusionList\":{\"value\":\"\"},\"antiMalwareSettingSmartProtectionGlobalServerEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionLogOnePacketWithinPeriodEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionGenerateConnectionEventsIcmpEnabled\":{\"value\":\"false\"},\"platformSettingHeartbeatInactiveVmOfflineAlertEnabled\":{\"value\":\"false\"},\"webReputationSettingSmartProtectionWebReputationGlobalServerProxyId\":{\"value\":\"\"},\"antiMalwareSettingNsxSecurityTaggingEnabled\":{\"value\":\"true\"},\"firewallSettingAntiEvasionCheckFragmentedPackets\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionConnectionsNumIcmpMax\":{\"value\":\"10000\"},\"firewallSettingAntiEvasionCheckTcpSplitHandshake\":{\"value\":\"Deny\"},\"antiMalwareSettingCombinedModeProtectionSource\":{\"value\":\"Appliance preferred\"},\"firewallSettingEngineOptionEventNodesMax\":{\"value\":\"20000\"},\"webReputationSettingMonitorPortListId\":{\"value\":\"80,8080\"},\"applicationControlSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingAntiEvasionCheckOutNoConnection\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionBlockIpv6Agent9AndLaterEnabled\":{\"value\":\"false\"},\"integrityMonitoringSettingVirtualApplianceOptimizationScanCacheEntriesMax\":{\"value\":\"500000\"},\"firewallSettingReconnaissanceNotifyTcpNullScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionIgnoreStatusCode1\":{\"value\":\"None\"},\"firewallSettingEngineOptionIgnoreStatusCode0\":{\"value\":\"None\"},\"firewallSettingEngineOptionIgnoreStatusCode2\":{\"value\":\"None\"},\"firewallSettingEngineOptionSslSessionSize\":{\"value\":\"Low - 2500\"},\"antiMalwareSettingScanCacheRealTimeConfigId\":{\"value\":\"2\"},\"platformSettingRecommendationOngoingScansInterval\":{\"value\":\"7 Days\"},\"platformSettingSmartProtectionGlobalServerUseProxyEnabled\":{\"value\":\"false\"},\"firewallSettingInterfaceLimitOneActiveEnabled\":{\"value\":\"false\"},\"firewallSettingAntiEvasionCheckTcpChecksum\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionDropIpv6ExtType0Enabled\":{\"value\":\"true\"},\"antiMalwareSettingScanFileSizeMaxMbytes\":{\"value\":\"0\"},\"firewallSettingEngineOptionGenerateConnectionEventsTcpEnabled\":{\"value\":\"false\"},\"antiMalwareSettingFileHashSizeMaxMbytes\":{\"value\":\"128\"},\"firewallSettingEventLogFileCachedEntriesLifeTime\":{\"value\":\"30 Minutes\"},\"platformSettingSmartProtectionGlobalServerProxyId\":{\"value\":\"\"},\"logInspectionSettingAutoApplyRecommendationsEnabled\":{\"value\":\"No\"},\"antiMalwareSettingConnectedThreatDefenseSuspiciousFileDdanSubmissionEnabled\":{\"value\":\"true\"},\"webReputationSettingBlockingPageLink\":{\"value\":\"http://sitesafety.trendmicro.com/\"},\"firewallSettingSyslogConfigId\":{\"value\":\"0\"},\"platformSettingAgentCommunicationsDirection\":{\"value\":\"Agent/Appliance Initiated\"},\"integrityMonitoringSettingScanCacheConfigId\":{\"value\":\"3\"},\"antiMalwareSettingDocumentExploitProtectionRuleExceptions\":{\"value\":\"\"},\"firewallSettingAntiEvasionCheckTcpSynWithData\":{\"value\":\"Deny\"},\"antiMalwareSettingFileHashEnabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceBlockFingerprintProbeDuration\":{\"value\":\"No\"},\"firewallSettingEngineOptionDropIpv6BogonsAddressesEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionBootStartTimeout\":{\"value\":\"20 Seconds\"},\"firewallSettingEngineOptionConnectionsNumTcpMax\":{\"value\":\"10000\"},\"firewallSettingAntiEvasionSecurityPosture\":{\"value\":\"Normal\"},\"firewallSettingInterfacePatterns\":{\"value\":\"\"},\"firewallSettingInterfaceIsolationEnabled\":{\"value\":\"false\"},\"antiMalwareSettingVirtualApplianceRealTimeScanCacheEntriesMax\":{\"value\":\"500000\"},\"firewallSettingEventsOutOfAllowedPolicyEnabled\":{\"value\":\"true\"},\"firewallSettingAntiEvasionCheckEvasiveRetransmit\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionIcmpTimeout\":{\"value\":\"60 Seconds\"},\"integrityMonitoringSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingEngineOptionConnectionCleanupTimeout\":{\"value\":\"10 Seconds\"},\"antiMalwareSettingSmartProtectionLocalServerAllowOffDomainGlobal\":{\"value\":\"false\"},\"firewallSettingReconnaissanceNotifyTcpSynFinScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionErrorTimeout\":{\"value\":\"10 Seconds\"},\"webReputationSettingAllowedUrls\":{\"value\":\"\"},\"firewallSettingReconnaissanceNotifyNetworkOrPortScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionFinWait1Timeout\":{\"value\":\"2 Minutes\"},\"firewallSettingEngineOptionGenerateConnectionEventsUdpEnabled\":{\"value\":\"false\"},\"activityMonitoringSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingAntiEvasionCheckTcpSynRstFlags\":{\"value\":\"Deny\"},\"antiMalwareSettingSpywareApprovedList\":{\"value\":\"\"},\"firewallSettingAntiEvasionCheckTcpUrgentFlags\":{\"value\":\"Allow\"},\"intrusionPreventionSettingNsxSecurityTaggingDetectModeLevel\":{\"value\":\"No Tagging\"},\"intrusionPreventionSettingEngineOptionFragmentedIpUnconcernedMacAddressBypassEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionLogAllPacketDataEnabled\":{\"value\":\"false\"},\"firewallSettingAntiEvasionCheckTcpSynFinFlags\":{\"value\":\"Deny\"},\"platformSettingHeartbeatInterval\":{\"value\":\"10 Minutes\"},\"firewallSettingEngineOptionFragmentSizeMin\":{\"value\":\"120\"},\"antiMalwareSettingSmartProtectionServerConnectionLostWarningEnabled\":{\"value\":\"true\"},\"firewallSettingReconnaissanceBlockNetworkOrPortScanDuration\":{\"value\":\"No\"},\"integrityMonitoringSettingContentHashAlgorithm\":{\"value\":\"sha1\"},\"antiMalwareSettingSmartScanState\":{\"value\":\"Automatic\"},\"firewallSettingConfigPackageExceedsAlertMaxEnabled\":{\"value\":\"true\"},\"platformSettingEnvironmentVariableOverrides\":{\"value\":\"\"},\"firewallSettingEngineOptionFragmentOffsetMin\":{\"value\":\"60\"},\"antiMalwareSettingSmartProtectionLocalServerUrls\":{\"value\":\"\"},\"firewallSettingEngineOptionSynRcvdTimeout\":{\"value\":\"60 Seconds\"},\"firewallSettingEventLogFileCachedEntriesNum\":{\"value\":\"128\"},\"firewallSettingEngineOptionForceAllowIcmpType3Code4\":{\"value\":\"Add Force Allow rule for ICMP type3 code4\"},\"firewallSettingReconnaissanceBlockTcpNullScanDuration\":{\"value\":\"No\"},\"platformSettingSmartProtectionGlobalServerEnabled\":{\"value\":\"true\"},\"integrityMonitoringSettingRealtimeEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionLastAckTimeout\":{\"value\":\"3 Minutes\"},\"firewallSettingReconnaissanceExcludeIpListId\":{\"value\":\"1\"},\"platformSettingAgentSelfProtectionEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionDropIpv6ReservedAddressesEnabled\":{\"value\":\"true\"},\"firewallSettingAntiEvasionCheckFinNoConnection\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionDebugPacketNumMax\":{\"value\":\"8\"},\"firewallSettingEngineOptionBypassCiscoWaasConnectionsEnabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceEnabled\":{\"value\":\"true\"},\"platformSettingHeartbeatLocalTimeShiftAlertThreshold\":{\"value\":\"Unlimited\"},\"antiMalwareSettingFileHashMd5Enabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceDetectNetworkOrPortScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionSilentTcpConnectionDropEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionBlockSameSrcDstIpEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionForceAllowDhcpDns\":{\"value\":\"Allow DNS Query and DHCP Client\"},\"firewallSettingReconnaissanceIncludeIpListId\":{\"value\":\"\"},\"firewallSettingEngineOptionsEnabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceBlockTcpSynFinScanDuration\":{\"value\":\"No\"},\"webReputationSettingSecurityBlockUntestedPagesEnabled\":{\"value\":\"false\"},\"webReputationSettingAllowedUrlDomains\":{\"value\":\"\"},\"firewallSettingEventLogFileIgnoreSourceIpListId\":{\"value\":\"\"},\"firewallSettingEngineOptionDropIpv6FragmentsLowerThanMinMtuEnabled\":{\"value\":\"true\"},\"platformSettingAutoAssignNewIntrusionPreventionRulesEnabled\":{\"value\":\"true\"},\"firewallSettingAntiEvasionCheckRstNoConnection\":{\"value\":\"Allow\"},\"webReputationSettingBlockedUrls\":{\"value\":\"\"},\"platformSettingCombinedModeNetworkGroupProtectionSource\":{\"value\":\"Agent preferred\"},\"webReputationSettingAlertingEnabled\":{\"value\":\"false\"},\"antiMalwareSettingNsxSecurityTaggingOnRemediationFailureEnabled\":{\"value\":\"true\"},\"integrityMonitoringSettingCpuUsageLevel\":{\"value\":\"High\"},\"platformSettingAutoUpdateAntiMalwareEngineEnabled\":{\"value\":\"false\"},\"intrusionPreventionSettingCombinedModeProtectionSource\":{\"value\":\"Agent preferred\"}},\"interfaces\":{\"interfaces\":[{\"name\":\"eth0\",\"displayName\":\"\",\"detected\":true,\"ID\":1,\"MAC\":\"22:00:0A:20:13:09\",\"DHCP\":false,\"IPs\":[\"10.32.19.9\"]}]},\"biosUUID\":\"ec29a088-a562-cdad-48d9-d76b0e3385c4\",\"noConnectorVirtualMachineSummary\":{\"accountID\":\"147995105371\",\"instanceID\":\"i-001bb8900eca9b6fd\",\"region\":\"us-west-2\"},\"hostGUID\":\"6BE38408-DA9E-4A03-1EB4-5CE824AD0C58\",\"ID\":1,\"antiMalware\":{\"state\":\"on\",\"moduleStatus\":{\"agentStatus\":\"active\",\"agentStatusMessage\":\"On, Real Time\"},\"realTimeScanConfigurationID\":1,\"realTimeScanScheduleID\":4,\"manualScanConfigurationID\":2,\"scheduledScanConfigurationID\":3},\"webReputation\":{\"state\":\"on\",\"moduleStatus\":{\"agentStatus\":\"active\",\"agentStatusMessage\":\"On\"}},\"firewall\":{\"state\":\"on\",\"moduleStatus\":{\"agentStatus\":\"active\",\"agentStatusMessage\":\"On, 6 rules\"},\"globalStatefulConfigurationID\":1,\"statefulConfigurationAssignments\":{\"statefulConfigurationAssignments\":[{\"interfaceID\":1,\"statefulConfigurationID\":1}]},\"ruleIDs\":[23,24,25,28,42,49]},\"intrusionPrevention\":{\"state\":\"prevent\",\"moduleStatus\":{\"agentStatus\":\"active\",\"agentStatusMessage\":\"On, Prevent, 2 rules\"},\"ruleIDs\":[4783,5892],\"applicationTypeIDs\":[261,308]},\"integrityMonitoring\":{\"state\":\"real-time\",\"moduleStatus\":{\"agentStatus\":\"active\",\"agentStatusMessage\":\"On, Real Time, 1 rule\"},\"lastBaselineCreated\":1586931837818,\"ruleIDs\":[10]},\"logInspection\":{\"state\":\"on\",\"moduleStatus\":{\"agentStatus\":\"active\",\"agentStatusMessage\":\"On, 2 rules\"},\"ruleIDs\":[20,41]},\"applicationControl\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Off, installed\"},\"blockUnrecognized\":false,\"maintenanceModeStatus\":\"off\"}},{\"hostName\":\"172.31.121.120\",\"displayName\":\"i-075776bd5b0b322aa\",\"description\":\"\",\"lastIPUsed\":\"\",\"platform\":\"Amazon Linux (64 bit)\",\"groupID\":79,\"relayListID\":0,\"agentVersion\":\"0.0.0.0\",\"computerStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessages\":[\"Unmanaged (Unknown)\"]},\"computerSettings\":{\"logInspectionSettingSeverityClippingAgentEventSendSyslogLevelMin\":{\"value\":\"Medium (6)\"},\"firewallSettingEngineOptionConnectionsCleanupMax\":{\"v[...]
