{
  "log": {
    "_recordingName": "build-administrator-role-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0c7332df6029edc32c0bc8cd3fdeea8a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-secret-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "api-version",
              "value": "v1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.deepsecurity.trendmicro.com/api/administrators"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 649,
            "text": "{\"administrators\":[{\"username\":\"urn:cloudone:identity:us-1:259695164935:user/778ec315-4a62-4eac-99cc-d3096df421d5\",\"fullName\":\"Paul Ilaga\",\"description\":\"\",\"roleID\":1,\"locale\":\"en-US\",\"timeZone\":\"Asia/Manila\",\"timeFormat\":\"24\",\"passwordNeverExpires\":true,\"active\":true,\"mfaType\":\"none\",\"phoneNumber\":\"\",\"mobileNumber\":\"\",\"pagerNumber\":\"\",\"emailAddress\":\"paul.ilaga@creativice.com\",\"primaryContact\":false,\"receiveNotifications\":false,\"reportPDFPasswordEnabled\":false,\"created\":1676452017404,\"lastSignIn\":1676615504214,\"unsuccessfulSignInAttempts\":0,\"external\":true,\"externalUserID\":\"\",\"type\":\"normal\",\"readOnly\":false,\"ID\":1,\"UTCOffset\":\"UTC+8.00\"}]}"
          },
            {
              "expires": "2023-02-24T07:51:21.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dsm-version",
              "value": "Deep Security/50.0.1770"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 906,
      },
      {
        "_id": "03ee26bcc8b32ccfadcf6c5a4fa8b578",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-secret-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "api-version",
              "value": "v1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.deepsecurity.trendmicro.com/api/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4024,
            "text": "{\"roles\":[{\"name\":\"Full Access\",\"description\":\"\",\"urn\":\"urn:tmds:identity:us-east-ds-1:124912:role/Full Access\",\"immutable\":true,\"canOnlyManipulateUsersWithEqualOrLesserRights\":false,\"allComputers\":true,\"allPolicies\":true,\"allowUserInterface\":true,\"allowWebService\":true,\"rights\":{\"platformRights\":{\"administratorRights\":{\"canCreateNewAdministrators\":true,\"canDeleteAdministrators\":true,\"canEditAdministratorProperties\":true,\"canViewAdministrators\":true},\"administratorRoleRights\":{\"canCreateNewAdministratorRoles\":true,\"canDeleteAdministratorRoles\":true,\"canEditAdministratorRoleProperties\":true,\"canViewAdministratorRoles\":true},\"agentVersionControlRights\":{\"canEditAgentVersionControls\":true},\"alertConfigurationRights\":{\"canEditAlertConfigurations\":true},\"alertRights\":{\"canDismissGlobalAlerts\":true},\"certificateRights\":{\"canCreateNewCertificates\":true,\"canDeleteCertificates\":true},\"computerRights\":{\"canAddAndRemoveComputerGroups\":true,\"canCreateNewComputers\":true,\"canDeleteComputers\":true,\"canDismissAlerts\":true,\"canEditComputerProperties\":true,\"canImportComputers\":true,\"canManageCloudAccounts\":true,\"canManageDirectories\":true,\"canManageVCenters\":true,\"canTagComputers\":true,\"canViewNotRelatedToComputers\":true,\"canViewOtherComputers\":true},\"contactRights\":{\"canCreateNewContacts\":true,\"canDeleteContacts\":true,\"canEditContactProperties\":true,\"canViewContacts\":true},\"dataCenterGatewayRights\":{\"canCreateNewDataCenterGateways\":true,\"canViewDataCenterGateways\":true,\"canEditDataCenterGateways\":true,\"canDeleteDataCenterGateways\":true},\"diagnosticRights\":{\"canCreateDiagnosticPackages\":true},\"assetValueRights\":{\"canCreateNewAssetValues\":true,\"canDeleteAssetValues\":true,\"canEditAssetValueProperties\":true},\"licenseRights\":{\"canChangeLicense\":true,\"canViewLicense\":true},\"multiTenantRights\":{\"canCreateTenants\":true,\"canDeleteTenants\":true,\"canEditTenantGeneralProperties\":true,\"canEditTenantModules\":true,\"canEditTenantAccountDetails\":true,\"canEditTenantFeatures\":true,\"canEditTenantSettings\":true,\"canCreateAndEditTenantDatabaseServers\":true,\"canDeleteTenantDatabaseServers\":true,\"canManageTenantAPIKeys\":true,\"canSignInAsTenant\":true,\"canViewTenants\":true},\"policyRights\":{\"canCreateNewPolicies\":true,\"canDeletePolicies\":true,\"canEditPolicyProperties\":true,\"canImportPolicies\":true,\"canViewOtherPolicies\":true},\"portListRights\":{\"canCreateNewPortLists\":true,\"canDeletePortLists\":true,\"canEditPortListProperties\":true,\"canViewOtherPortListProperties\":true},\"proxyRights\":{\"canCreateNewProxies\":true,\"canDeleteProxies\":true,\"canEditProxyProperties\":true},\"relayGroupRights\":{\"canCreateNewRelayGroups\":true,\"canDeleteRelayGroups\":true,\"canEditRelayGroupProperties\":true},\"scanCacheRights\":{\"canManageScanCache\":true},\"scheduledTaskRights\":{\"canCreateNewScheduledTasks\":true,\"canDeleteScheduledTasks\":true,\"canEditScheduledTaskProperties\":true,\"canExecuteScheduledTasks\":true,\"canViewScheduledTasks\":true},\"scheduleRights\":{\"canCreateNewSchedules\":true,\"canDeleteSchedules\":true,\"canEditScheduleProperties\":true},\"serviceGatewayRights\":{\"canChangeServiceGateways\":true},\"settingRights\":{\"canEditSettings\":true,\"canViewSettings\":true},\"expertSettingRights\":{\"canEditExpertSettings\":true,\"canViewExpertSettings\":true},\"syslogConfigurationRights\":{\"canCreateNewSyslogConfigurations\":true,\"canDeleteSyslogConfigurations\":true,\"canEditSyslogConfigurationProperties\":true},\"systemInformationRights\":{\"canManageExtensions\":true,\"canManageNodes\":true,\"canViewSystemInformation\":true},\"taggingRights\":{\"canDeleteAutoTagRules\":true,\"canUpdateAutoTagRules\":true,\"canRunAutoTagRules\":true,\"canDeleteTags\":true,\"canTag\":true},\"updateRights\":{\"canImportSoftware\":true,\"canDeleteSoftware\":true,\"canEditSoftwareProperties\":true,\"canImportRuleUpdates\":true,\"canDeleteRuleUpdates\":true,\"canViewRuleUpdates\":true},\"apikeyRights\":{\"canCreateNewApiKeys\":true,\"canDeleteApiKeys\":true,\"canEditApiKeyProperties\":true,\"canViewApiKeys\":true},\"iplistRights\":{\"canCreateNewIPLists\":true,\"canDeleteIPLists\":true,\"canEditIPListProperties\":true,\"canViewOtherIPListProperties\":true},\"samlidentityProviderRights\":{\"canCreateNewSAMLIdentityProviders\":true,\"canDeleteSAMLIdentityProviders\":true,\"canEditSAMLIdentityProviders\":true,\"canViewSAMLIdentityProviders\":true}},\"antiMalwareRights\":{\"antiMalwareConfigurationRights\":{\"canCreateNewAntiMalwareConfigurations\":true,\"canDeleteAntiMalwareConfigurations\":true,\"canEditAntiMalwareConfigurations\":true,\"canViewOtherAntiMalwareConfigurations\":true},\"directoryListRights\":{\"canCreateNewDirectoryLists\":true,\"canDeleteDirectoryLists\":true,\"canEditDirectoryListProperties\":true,\"canViewOtherDirectoryListProperties\":true},\"fileListRights\":{\"canCreateNewFileLists\":true,\"canDeleteFileLists\":true,\"canEditFileListProperties\":true,\"canViewOtherFileListProperties\":true},\"fileExtensionListRights\":{\"canCreateNewFileExtensionLists\":true,\"canDeleteFileExtensionLists\":true,\"canEditFileExtensionListProperties\":true,\"canViewOtherFileExtensionListProperties\":true},\"identifiedFileRights\":{\"canDeleteIdentifiedFiles\":true,\"canDownloadIdentifiedFiles\":true,\"canRestoreIdentifiedFiles\":true,\"canSubmitIdentifiedFiles\":true}},\"webReputationRights\":{\"webReputationConfigurationRights\":{\"canEditWebReputationConfiguration\":true}},\"sensingModeRights\":{\"sensingModeConfigurationRights\":{\"canEditSensingModeConfiguration\":true}},\"deviceControlRights\":{\"deviceControlConfigurationRights\":{\"canEditDeviceControlConfiguration\":true},\"usbDeviceRights\":{\"canCreateNewUsbDevice\":true,\"canEditUsbDevice\":true,\"canDeleteUsbDevice\":true}},\"firewallRights\":{\"contextRights\":{\"canCreateNewContexts\":true,\"canDeleteContexts\":true,\"canEditContextProperties\":true},\"firewallRuleRights\":{\"canCreateNewFirewallRules\":true,\"canDeleteFirewallRules\":true,\"canEditFirewallRuleProperties\":true,\"canViewOtherFirewallRuleProperties\":true},\"statefulConfigurationRights\":{\"canCreateNewStatefulConfigurations\":true,\"canDeleteStatefulConfigurations\":true,\"canEditStatefulConfigurationProperties\":true,\"canViewOtherStatefulConfigurationProperties\":true},\"macListRights\":{\"canCreateNewMACLists\":true,\"canDeleteMACLists\":true,\"canEditMACListProperties\":true,\"canViewOtherMACListProperties\":true}},\"intrusionPreventionRights\":{\"applicationTypeRights\":{\"canCreateNewApplicationTypes\":true,\"canDeleteApplicationTypes\":true,\"canEditApplicationTypeProperties\":true},\"intrusionPreventionRuleRights\":{\"canCreateNewIntrusionPreventionRules\":true,\"canDeleteIntrusionPreventionRules\":true,\"canEditIntrusionPreventionRuleProperties\":true}},\"integrityMonitoringRights\":{\"integrityMonitoringRuleRights\":{\"canCreateNewIntegrityMonitoringRules\":true,\"canDeleteIntegrityMonitoringRules\":true,\"canEditIntegrityMonitoringRuleProperties\":true}},\"logInspectionRights\":{\"logInspectionDecoderRights\":{\"canCreateNewLogInspectionDecoders\":true,\"canDeleteLogInspectionDecoders\":true,\"canEditLogInspectionDecoderProperties\":true},\"logInspectionRuleRights\":{\"canCreateNewLogInspectionRules\":true,\"canDeleteLogInspectionRules\":true,\"canEditLogInspectionRuleProperties\":true}},\"applicationControlRights\":{\"driftRights\":{\"canAllowOrBlockDrift\":true,\"canViewDrift\":true},\"rulesetRights\":{\"canCreateNewRulesets\":true,\"canDeleteRulesets\":true,\"canEditRulesetProperties\":true,\"canViewRulesets\":true},\"ruleRights\":{\"canCreateNewAppControlRules\":true,\"canDeleteAppControlRules\":true,\"canEditAppControlRulesProperties\":true,\"canViewAppControlRules\":true},\"softwareInventoryRights\":{\"canCreateNewSoftwareInventory\":true,\"canDeleteSoftwareInventory\":true,\"canViewSoftwareInventory\":true},\"trustEntityManagementRights\":{\"canCreateAppControlTrustEntities\":true,\"canViewAppControlTrustEntities\":true,\"canEditAppControlTrustEntities\":true,\"canDeleteAppControlTrustEntities\":true}},\"hostedServiceRights\":{\"accountRights\":{\"canDeleteAccounts\":true,\"canUpdateAccounts\":true,\"canViewAccountBilling\":true},\"fixRights\":{\"canViewFixes\":true},\"heapRights\":{\"canViewHeap\":true},\"licenseRateRights\":{\"canSaveLicenseRates\":true,\"canViewLicenseRates\":true},\"queryRights\":{\"canViewQuery\":true},\"featureFlagsRights\":{\"canViewFeatureFlags\":true},\"queryTracebackRights\":{\"canViewQueryTracebacks\":true},\"serverLogRights\":{\"canViewServerLogs\":true},\"stackTraceRights\":{\"canViewStackTraces\":true},\"networkSecurityRights\":{\"canCreateDeviceAuthorizationTokens\":true}}},\"ID\":1},{\"name\":\"Auditor\",\"description\":\"\",\"urn\":\"urn:tmds:identity:us-east-ds-1:124912:role/Auditor\",\"immutable\":false,\"canOnlyManipulateUsersWithEqualOrLesserRights\":false,\"allComputers\":true,\"allPolicies\":true,\"allowUserInterface\":true,\"allowWebService\":true,\"rights\":{\"platformRights\":{\"administratorRights\":{\"canCreateNewAdministrators\":false,\"canDeleteAdministrators\":false,\"canEditAdministratorProperties\":false,\"canViewAdministrators\":false},\"[...]
