{
  "log": {
    "_recordingName": "fetch-api-keys",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2d37fd12ac6a122a92e1ff86eadc4f7a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-secret-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "api-version",
              "value": "v1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.deepsecurity.trendmicro.com/api/apikeys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"apiKeys\":[{\"keyName\":\"j1-integration\",\"description\":\"\",\"locale\":\"en-US\",\"roleID\":2,\"timeZone\":\"Asia/Manila\",\"active\":true,\"created\":1676452440919,\"unsuccessfulSignInAttempts\":0,\"serviceAccount\":false,\"ID\":2},{\"keyName\":\"j1\",\"description\":\"\",\"locale\":\"en-US\",\"roleID\":1,\"timeZone\":\"Asia/Manila\",\"active\":true,\"created\":1676612551907,\"unsuccessfulSignInAttempts\":0,\"serviceAccount\":false,\"ID\":3}]}"
          },
            {
              "expires": "2023-02-24T07:51:21.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dsm-version",
              "value": "Deep Security/50.0.1770"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 946,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
