{
  "log": {
    "_recordingName": "fetch-computers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8404e7ff679bb4d598be0f289224946f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-secret-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "api-version",
              "value": "v1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.deepsecurity.trendmicro.com/api/computers"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5392,
            "text": "{\"computers\":[{\"hostName\":\"127.0.0.1\",\"displayName\":\"\",\"description\":\"\",\"lastIPUsed\":\"127.0.0.1\",\"platform\":\"Unknown\",\"groupID\":0,\"relayListID\":0,\"agentVersion\":\"0.0.0.0\",\"computerStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessages\":[\"Unmanaged (Deactivation Required)\"]},\"computerSettings\":{\"logInspectionSettingSeverityClippingAgentEventSendSyslogLevelMin\":{\"value\":\"Medium (6)\"},\"firewallSettingEngineOptionConnectionsCleanupMax\":{\"value\":\"1000\"},\"firewallSettingEngineOptionVerifyTcpChecksumEnabled\":{\"value\":\"false\"},\"antiMalwareSettingScanCacheOnDemandConfigId\":{\"value\":\"\"},\"applicationControlSettingSharedRulesetId\":{\"value\":\"0\"},\"webReputationSettingSmartProtectionServerConnectionLostWarningEnabled\":{\"value\":\"true\"},\"applicationControlSettingExecutionEnforcementLevel\":{\"value\":\"Allow unrecognized software until it is explicitly blocked\"},\"webReputationSettingBlockedUrlDomains\":{\"value\":\"\"},\"firewallSettingNetworkEngineStatusCheck\":{\"value\":\"Enabled\"},\"firewallSettingEngineOptionSynSentTimeout\":{\"value\":\"20 Seconds\"},\"platformSettingAgentSelfProtectionPassword\":{\"value\":\"\"},\"firewallSettingReconnaissanceBlockTcpXmasAttackDuration\":{\"value\":\"No\"},\"intrusionPreventionSettingVirtualAndContainerNetworkScanEnabled\":{\"value\":\"false\"},\"logInspectionSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingEngineOptionDebugModeEnabled\":{\"value\":\"false\"},\"firewallSettingVirtualAndContainerNetworkScanEnabled\":{\"value\":\"false\"},\"antiMalwareSettingFileHashSha256Enabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceNotifyFingerprintProbeEnabled\":{\"value\":\"true\"},\"firewallSettingEventLogFileRetainNum\":{\"value\":\"3\"},\"firewallSettingAntiEvasionCheckTcpPawsZero\":{\"value\":\"Allow\"},\"antiMalwareSettingConnectedThreatDefenseUseControlManagerSuspiciousObjectListEnabled\":{\"value\":\"true\"},\"intrusionPreventionSettingEngineOptionFragmentedIpKeepMax\":{\"value\":\"1000\"},\"firewallSettingEngineOptionDrop6To4BogonsAddressesEnabled\":{\"value\":\"true\"},\"logInspectionSettingSeverityClippingAgentEventStoreLevelMin\":{\"value\":\"Medium (6)\"},\"platformSettingScanCacheConcurrencyMax\":{\"value\":\"1\"},\"antiMalwareSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingAntiEvasionTcpPawsWindowPolicy\":{\"value\":\"0\"},\"firewallSettingReconnaissanceDetectTcpXmasAttackEnabled\":{\"value\":\"true\"},\"applicationControlSettingRulesetMode\":{\"value\":\"Use local ruleset\"},\"antiMalwareSettingSmartProtectionGlobalServerUseProxyEnabled\":{\"value\":\"false\"},\"webReputationSettingSmartProtectionLocalServerAllowOffDomainGlobal\":{\"value\":\"false\"},\"integrityMonitoringSettingCombinedModeProtectionSource\":{\"value\":\"Appliance preferred\"},\"firewallSettingEngineOptionCloseWaitTimeout\":{\"value\":\"2 Minutes\"},\"platformSettingScanOpenPortListId\":{\"value\":\"1-1024\"},\"platformSettingAgentSelfProtectionPasswordEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionAckTimeout\":{\"value\":\"1 Second\"},\"firewallSettingEventLogFileCachedEntriesStaleTime\":{\"value\":\"15 Minutes\"},\"firewallSettingCombinedModeProtectionSource\":{\"value\":\"Agent preferred\"},\"platformSettingAgentEventsSendInterval\":{\"value\":\"60 Seconds\"},\"platformSettingInactiveAgentCleanupOverrideEnabled\":{\"value\":\"false\"},\"firewallSettingFailureResponseEngineSystem\":{\"value\":\"Fail open\"},\"platformSettingRelayState\":{\"value\":\"false\"},\"firewallSettingEngineOptionDropEvasiveRetransmitEnabled\":{\"value\":\"false\"},\"activityMonitoringSettingIndicatorEnabled\":{\"value\":\"Off\"},\"intrusionPreventionSettingEngineOptionFragmentedIpTimeout\":{\"value\":\"60 Seconds\"},\"firewallSettingAntiEvasionCheckTcpZeroFlags\":{\"value\":\"Deny\"},\"webReputationSettingSmartProtectionGlobalServerUseProxyEnabled\":{\"value\":\"false\"},\"intrusionPreventionSettingNsxSecurityTaggingPreventModeLevel\":{\"value\":\"No Tagging\"},\"firewallSettingReconnaissanceNotifyTcpXmasAttackEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionUdpTimeout\":{\"value\":\"20 Seconds\"},\"webReputationSettingSmartProtectionLocalServerEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionTcpMssLimit\":{\"value\":\"128 Bytes\"},\"firewallSettingEngineOptionColdStartTimeout\":{\"value\":\"5 Minutes\"},\"firewallSettingEngineOptionEstablishedTimeout\":{\"value\":\"3 Hours\"},\"antiMalwareSettingIdentifiedFilesSpaceMaxMbytes\":{\"value\":\"1024\"},\"firewallSettingEngineOptionAllowNullIpEnabled\":{\"value\":\"true\"},\"platformSettingNotificationsSuppressPopupsEnabled\":{\"value\":\"false\"},\"firewallSettingAntiEvasionCheckTcpRstFinFlags\":{\"value\":\"Deny\"},\"firewallSettingEngineOptionDisconnectTimeout\":{\"value\":\"60 Seconds\"},\"firewallSettingEngineOptionCloseTimeout\":{\"value\":\"0 Seconds\"},\"firewallSettingEngineOptionTunnelDepthMaxExceededAction\":{\"value\":\"Drop\"},\"antiMalwareSettingEnableUserTriggerOnDemandScan\":{\"value\":\"false\"},\"firewallSettingReconnaissanceDetectTcpNullScanEnabled\":{\"value\":\"true\"},\"platformSettingSmartProtectionAntiMalwareGlobalServerProxyId\":{\"value\":\"\"},\"firewallSettingEngineOptionFilterIpv4Tunnels\":{\"value\":\"Disable Detection of IPv4 Tunnels\"},\"webReputationSettingSmartProtectionLocalServerUrls\":{\"value\":\"\"},\"firewallSettingEngineOptionLogOnePacketPeriod\":{\"value\":\"5 Minutes\"},\"deviceControlSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingEngineOptionFilterIpv6Tunnels\":{\"value\":\"Disable Detection of IPv6 Tunnels\"},\"firewallSettingAntiEvasionCheckTcpCongestionFlags\":{\"value\":\"Allow\"},\"platformSettingHeartbeatMissedAlertThreshold\":{\"value\":\"2\"},\"intrusionPreventionSettingEngineOptionsEnabled\":{\"value\":\"false\"},\"platformSettingAgentSecurityPlatformExtension\":{\"value\":\"false\"},\"firewallSettingEngineOptionConnectionsNumUdpMax\":{\"value\":\"1000000\"},\"integrityMonitoringSettingAutoApplyRecommendationsEnabled\":{\"value\":\"No\"},\"firewallSettingEngineOptionTunnelDepthMax\":{\"value\":\"1\"},\"firewallSettingEngineOptionDropUnknownSslProtocolEnabled\":{\"value\":\"true\"},\"antiMalwareSettingNsxSecurityTaggingValue\":{\"value\":\"ANTI_VIRUS.VirusFound.threat=medium\"},\"intrusionPreventionSettingLogDataRuleFirstMatchEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionLoggingPolicy\":{\"value\":\"Default\"},\"platformSettingTroubleshootingLoggingLevel\":{\"value\":\"Do Not Override\"},\"antiMalwareSettingVirtualApplianceOnDemandScanCacheEntriesMax\":{\"value\":\"500000\"},\"webReputationSettingCombinedModeProtectionSource\":{\"value\":\"Agent preferred\"},\"firewallSettingEngineOptionClosingTimeout\":{\"value\":\"1 Second\"},\"firewallSettingAntiEvasionCheckPaws\":{\"value\":\"Ignore\"},\"intrusionPreventionSettingAutoApplyRecommendationsEnabled\":{\"value\":\"No\"},\"firewallSettingReconnaissanceDetectFingerprintProbeEnabled\":{\"value\":\"true\"},\"antiMalwareSettingNsxSecurityTaggingRemoveOnCleanScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionLogPacketLengthMax\":{\"value\":\"1500 Bytes\"},\"firewallSettingEngineOptionDropTeredoAnomaliesEnabled\":{\"value\":\"true\"},\"webReputationSettingSecurityLevel\":{\"value\":\"Medium\"},\"firewallSettingEngineOptionDropIpv6SiteLocalAddressesEnabled\":{\"value\":\"false\"},\"activityMonitoringSettingActivityEnabled\":{\"value\":\"Off\"},\"firewallSettingEngineOptionStrictTerodoPortCheckEnabled\":{\"value\":\"true\"},\"platformSettingAutoUpdateTlsInspectionSupportEnabled\":{\"value\":\"true\"},\"webReputationSettingBlockedUrlKeywords\":{\"value\":\"\"},\"webReputationSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingFailureResponsePacketSanityCheck\":{\"value\":\"Fail open\"},\"firewallSettingNetworkEngineMode\":{\"value\":\"Inline\"},\"firewallSettingEventLogFileSizeMax\":{\"value\":\"4 MB\"},\"antiMalwareSettingMalwareScanMultithreadedProcessingEnabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceDetectTcpSynFinScanEnabled\":{\"value\":\"true\"},\"platformSettingAutoUpdateKernelPackageEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionDropIpZeroPayloadEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionBlockIpv6Agent8AndEarlierEnabled\":{\"value\":\"true\"},\"intrusionPreventionSettingEngineOptionFragmentedIpPacketSendIcmpEnabled\":{\"value\":\"true\"},\"antiMalwareSettingPredictiveMachineLearningExceptions\":{\"value\":\"\"},\"firewallSettingEngineOptionLogEventsPerSecondMax\":{\"value\":\"100\"},\"firewallSettingEngineOptionSslSessionTime\":{\"value\":\"24 Hours\"},\"antiMalwareSettingBehaviorMonitoringScanExclusionList\":{\"value\":\"\"},\"antiMalwareSettingSmartProtectionGlobalServerEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionLogOnePacketWithinPeriodEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionGenerateConnectionEventsIcmpEnabled\":{\"value\":\"false\"},\"platformSettingHeartbeatInactiveVmOfflineAlertEnabled\":{\"value\":\"false\"},\"webReputationSettingSmartProtectionWebReputationGlobalServerProxyId\":{\"value\":\"\"},\"antiMalwareSettingNsxSecurityTaggingEnabled\":{\"value\":\"true\"},\"firewallSettingAntiEvasionCheckFragmentedPackets\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionConnectionsNumIcmpMax\":{\"value\":\"10000\"},\"firewallSettingAntiEvasionCheckTcpSplitHandshake\":{\"value\":\"Deny\"},\"antiMalwareSettingCombinedModeProtectionSource\":{\"value\":\"Appliance preferred\"},\"firewallSettingEngineOptionEventNodesMax\":{\"value\":\"20000\"},\"webReputationSettingMonitorPortListId\":{\"value\":\"80,8080,443\"},\"applicationControlSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingAntiEvasionCheckOutNoConnection\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionBlockIpv6Agent9AndLaterEnabled\":{\"value\":\"false\"},\"integrityMonitoringSettingVirtualApplianceOptimizationScanCacheEntriesMax\":{\"value\":\"500000\"},\"firewallSettingReconnaissanceNotifyTcpNullScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionIgnoreStatusCode1\":{\"value\":\"None\"},\"firewallSettingEngineOptionIgnoreStatusCode0\":{\"value\":\"None\"},\"firewallSettingEngineOptionIgnoreStatusCode2\":{\"value\":\"None\"},\"firewallSettingEngineOptionSslSessionSize\":{\"value\":\"Low - 2500\"},\"antiMalwareSettingScanCacheRealTimeConfigId\":{\"value\":\"\"},\"platformSettingRecommendationOngoingScansInterval\":{\"value\":\"7 Days\"},\"platformSettingSmartProtectionGlobalServerUseProxyEnabled\":{\"value\":\"false\"},\"firewallSettingInterfaceLimitOneActiveEnabled\":{\"value\":\"false\"},\"firewallSettingAntiEvasionCheckTcpChecksum\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionDropIpv6ExtType0Enabled\":{\"value\":\"true\"},\"antiMalwareSettingScanFileSizeMaxMbytes\":{\"value\":\"0\"},\"firewallSettingEngineOptionGenerateConnectionEventsTcpEnabled\":{\"value\":\"false\"},\"antiMalwareSettingFileHashSizeMaxMbytes\":{\"value\":\"128\"},\"firewallSettingEventLogFileCachedEntriesLifeTime\":{\"value\":\"30 Minutes\"},\"platformSettingSmartProtectionGlobalServerProxyId\":{\"value\":\"\"},\"logInspectionSettingAutoApplyRecommendationsEnabled\":{\"value\":\"No\"},\"antiMalwareSettingConnectedThreatDefenseSuspiciousFileDdanSubmissionEnabled\":{\"value\":\"true\"},\"deviceControlSettingDeviceControlUsbStorageDeviceAction\":{\"value\":\"Full Access\"},\"webReputationSettingBlockingPageLink\":{\"value\":\"http://sitesafety.trendmicro.com/\"},\"firewallSettingSyslogConfigId\":{\"value\":\"0\"},\"platformSettingAgentCommunicationsDirection\":{\"value\":\"Agent/Appliance Initiated\"},\"intrusionPreventionSettingAutomaticallyApplyCoreIpsRules\":{\"value\":\"false\"},\"integrityMonitoringSettingScanCacheConfigId\":{\"value\":\"\"},\"antiMalwareSettingDocumentExploitProtectionRuleExceptions\":{\"value\":\"\"},\"firewallSettingAntiEvasionCheckTcpSynWithData\":{\"value\":\"Deny\"},\"antiMalwareSettingFileHashEnabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceBlockFingerprintProbeDuration\":{\"value\":\"No\"},\"firewallSettingEngineOptionDropIpv6BogonsAddressesEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionBootStartTimeout\":{\"value\":\"20 Seconds\"},\"firewallSettingEngineOptionConnectionsNumTcpMax\":{\"value\":\"1000000\"},\"firewallSettingAntiEvasionSecurityPosture\":{\"value\":\"Normal\"},\"firewallSettingInterfacePatterns\":{\"value\":\"\"},\"firewallSettingInterfaceIsolationEnabled\":{\"value\":\"false\"},\"antiMalwareSettingVirtualApplianceRealTimeScanCacheEntriesMax\":{\"value\":\"500000\"},\"firewallSettingEventsOutOfAllowedPolicyEnabled\":{\"value\":\"true\"},\"firewallSettingAntiEvasionCheckEvasiveRetransmit\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionIcmpTimeout\":{\"value\":\"60 Seconds\"},\"integrityMonitoringSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingEngineOptionConnectionCleanupTimeout\":{\"value\":\"10 Seconds\"},\"antiMalwareSettingSmartProtectionLocalServerAllowOffDomainGlobal\":{\"value\":\"false\"},\"firewallSettingReconnaissanceNotifyTcpSynFinScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionErrorTimeout\":{\"value\":\"10 Seconds\"},\"antiMalwareSettingOfflineScheduledScanEnabled\":{\"value\":\"false\"},\"webReputationSettingAllowedUrls\":{\"value\":\"\"},\"firewallSettingReconnaissanceNotifyNetworkOrPortScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionFinWait1Timeout\":{\"value\":\"2 Minutes\"},\"firewallSettingEngineOptionGenerateConnectionEventsUdpEnabled\":{\"value\":\"false\"},\"activityMonitoringSettingSyslogConfigId\":{\"value\":\"0\"},\"firewallSettingAntiEvasionCheckTcpSynRstFlags\":{\"value\":\"Deny\"},\"antiMalwareSettingSpywareApprovedList\":{\"value\":\"\"},\"firewallSettingAntiEvasionCheckTcpUrgentFlags\":{\"value\":\"Allow\"},\"intrusionPreventionSettingNsxSecurityTaggingDetectModeLevel\":{\"value\":\"No Tagging\"},\"intrusionPreventionSettingEngineOptionFragmentedIpUnconcernedMacAddressBypassEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionLogAllPacketDataEnabled\":{\"value\":\"false\"},\"firewallSettingAntiEvasionCheckTcpSynFinFlags\":{\"value\":\"Deny\"},\"platformSettingHeartbeatInterval\":{\"value\":\"10 Minutes\"},\"firewallSettingEngineOptionFragmentSizeMin\":{\"value\":\"0\"},\"antiMalwareSettingSmartProtectionServerConnectionLostWarningEnabled\":{\"value\":\"true\"},\"firewallSettingReconnaissanceBlockNetworkOrPortScanDuration\":{\"value\":\"No\"},\"integrityMonitoringSettingContentHashAlgorithm\":{\"value\":\"sha1\"},\"antiMalwareSettingSmartScanState\":{\"value\":\"Automatic\"},\"firewallSettingConfigPackageExceedsAlertMaxEnabled\":{\"value\":\"true\"},\"platformSettingEnvironmentVariableOverrides\":{\"value\":\"\"},\"firewallSettingEngineOptionFragmentOffsetMin\":{\"value\":\"0\"},\"antiMalwareSettingSmartProtectionLocalServerUrls\":{\"value\":\"\"},\"firewallSettingEngineOptionSynRcvdTimeout\":{\"value\":\"60 Seconds\"},\"firewallSettingEventLogFileCachedEntriesNum\":{\"value\":\"128\"},\"firewallSettingEngineOptionForceAllowIcmpType3Code4\":{\"value\":\"Add Force Allow rule for ICMP type3 code4\"},\"firewallSettingReconnaissanceBlockTcpNullScanDuration\":{\"value\":\"No\"},\"platformSettingSmartProtectionGlobalServerEnabled\":{\"value\":\"true\"},\"integrityMonitoringSettingRealtimeEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionLastAckTimeout\":{\"value\":\"30 Seconds\"},\"deviceControlSettingDeviceControlAutoRunUsbAction\":{\"value\":\"Allow\"},\"firewallSettingReconnaissanceExcludeIpListId\":{\"value\":\"\"},\"deviceControlSettingDeviceControlEnabled\":{\"value\":\"Off\"},\"platformSettingAgentSelfProtectionEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionDropIpv6ReservedAddressesEnabled\":{\"value\":\"true\"},\"firewallSettingAntiEvasionCheckFinNoConnection\":{\"value\":\"Allow\"},\"firewallSettingEngineOptionDebugPacketNumMax\":{\"value\":\"8\"},\"firewallSettingEngineOptionBypassCiscoWaasConnectionsEnabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceEnabled\":{\"value\":\"true\"},\"platformSettingHeartbeatLocalTimeShiftAlertThreshold\":{\"value\":\"Unlimited\"},\"antiMalwareSettingFileHashMd5Enabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceDetectNetworkOrPortScanEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionSilentTcpConnectionDropEnabled\":{\"value\":\"false\"},\"firewallSettingEngineOptionBlockSameSrcDstIpEnabled\":{\"value\":\"true\"},\"firewallSettingEngineOptionForceAllowDhcpDns\":{\"value\":\"Allow DNS Query and DHCP Client\"},\"firewallSettingReconnaissanceIncludeIpListId\":{\"value\":\"\"},\"firewallSettingEngineOptionsEnabled\":{\"value\":\"false\"},\"firewallSettingReconnaissanceBlockTcpSynFinScanDuration\":{\"value\":\"No\"},\"webReputationSettingSecurityBlockUntestedPagesEnabled\":{\"value\":\"false\"},\"webReputationSettingAllowedUrlDomains\":{\"value\":\"\"},\"platformSettingEnableContainerFileOnAccessScan\":{\"value\":\"false\"},\"antiMalwareSettingTrustedCertificateExceptionEnabled\":{\"value\":\"false\"},\"firewallSettingEventLogFileIgnoreSourceIpListId\":{\"value\":\"\"},\"firewallSettingEngineOptionDropIpv6FragmentsLowerThanMinMtuEnabled\":{\"value\":\"true\"},\"platformSettingAutoAssignNewIntrusionPreventionRulesEnabled\":{\"value\":\"true\"},\"firewallSettingAntiEvasionCheckRstNoConnection\":{\"value\":\"Allow\"},\"webReputationSettingBlockedUrls\":{\"value\":\"\"},\"platformSettingCombinedModeNetworkGroupProtectionSource\":{\"value\":\"Agent preferred\"},\"webReputationSettingAlertingEnabled\":{\"value\":\"false\"},\"antiMalwareSettingNsxSecurityTaggingOnRemediationFailureEnabled\":{\"value\":\"true\"},\"integrityMonitoringSettingCpuUsageLevel\":{\"value\":\"High\"},\"platformSettingAutoUpdateAntiMalwareEngineEnabled\":{\"value\":\"false\"},\"deviceControlSettingDeviceControlMobileDeviceAction\":{\"value\":\"Full Access\"},\"intrusionPreventionSettingInspectTlsTrafficEnabled\":{\"value\":\"true\"},\"intrusionPreventionSettingCombinedModeProtectionSource\":{\"value\":\"Agent preferred\"}},\"hostGUID\":\"4894F92E-A258-79A5-71D5-050F26DF0E18\",\"agentGUID\":\"E49AE016-88AE-1717-553C-F8B0FAF8FBA1\",\"ID\":1,\"antiMalware\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"},\"realTimeScanConfigurationID\":0,\"realTimeScanScheduleID\":0,\"manualScanConfigurationID\":0,\"scheduledScanConfigurationID\":0},\"webReputation\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"}},\"deviceControl\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"}},\"activityMonitoring\":{\"state\":\"off\",\"suspiciousObjectListEnabled\":false,\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"}},\"firewall\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"}},\"intrusionPrevention\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"}},\"integrityMonitoring\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"}},\"logInspection\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"}},\"applicationControl\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"},\"blockUnrecognized\":false,\"maintenanceModeStatus\":\"off\"},\"SAP\":{\"state\":\"off\",\"moduleStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessage\":\"Not Activated\"}}},{\"hostName\":\"0.0.0.0\",\"displayName\":\"\",\"description\":\"\",\"lastIPUsed\":\"0.0.0.0\",\"platform\":\"Unknown\",\"groupID\":1,\"relayListID\":0,\"agentVersion\":\"0.0.0.0\",\"computerStatus\":{\"agentStatus\":\"inactive\",\"agentStatusMessages\":[\"Unmanaged (Deactivation Required)\"]},\"computerSettings\":{\"logInspectionSettingSeverityClippingAgentEventSendSyslogLevelMin\":{\"v[...]
