{
  "log": {
    "_recordingName": "fetch-computer-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fd36f556920629ce15ea23ea5bfabaad",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-secret-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "api-version",
              "value": "v1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.deepsecurity.trendmicro.com/api/computergroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"computerGroups\":[{\"type\":\"folder\",\"name\":\"Group\",\"description\":\"\",\"ID\":1}]}"
          },
            {
              "expires": "2023-02-24T07:51:22.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dsm-version",
              "value": "Deep Security/50.0.1770"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 911,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
