{
  "log": {
    "_recordingName": "fetch-computer-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fd36f556920629ce15ea23ea5bfabaad",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-secret-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "api-version",
              "value": "v1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.deepsecurity.trendmicro.com/api/computergroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 8967,
            "text": "{\"computerGroups\":[{\"type\":\"aws-account\",\"name\":\"cduong - 697977203433\",\"cloudResourceType\":\"top-level\",\"amazonAccountID\":1,\"ID\":1},{\"type\":\"aws-region\",\"name\":\"EU (Stockholm)\",\"parentGroupID\":1,\"cloudType\":\"amazon\",\"amazonRegionID\":1,\"ID\":2},{\"type\":\"aws-region\",\"name\":\"Asia Pacific (Mumbai)\",\"parentGroupID\":1,\"cloudType\":\"amazon\",\"amazonRegionID\":2,\"ID\":3},{\"type\":\"aws-region\",\"name\":\"EU (Paris)\",\"parentGroupID\":1,\"cloudType\":\"amazon\",\"amazonRegionID\":3,\"ID\":4},{\"type\":\"aws-region\",\"name\":\"EU (London)\",\"parentGroupID\":1,\"cloudType\":\"amazon\",\"amazonRegionID\":4,\"ID\":5},{\"type\":\"aws-region\",\"name\":\"EU (Ireland)\",\"parentGroupID\":1,\"cloudType\":\"amazon\",\"ama[...]
